@import url(https://fonts.googleapis.com/css2?family=Urbanist:ital,wght@0,100..900;1,100..900&display=swap);
button, hr, input {
  overflow: visible;
}

progress, sub, sup {
  vertical-align: baseline;
}

*, body {
  margin: 0;
}

*, [type=checkbox], [type=radio], legend {
  padding: 0;
  box-sizing: border-box;
}

html {
  line-height: 1.15;
  -webkit-text-size-adjust: 100%;
}

details, main {
  display: block;
}

h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

hr {
  box-sizing: content-box;
  height: 0;
}

code, kbd, pre, samp {
  font-family: monospace, monospace;
  font-size: 1em;
}

a {
  background-color: rgba(255, 255, 255, 0);
}

abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  text-decoration: underline dotted;
}

b, strong {
  font-weight: bolder;
}

small {
  font-size: 80%;
}

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

img {
  border-style: none;
}

button, input, optgroup, select, textarea {
  font-family: inherit;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}

button, select {
  text-transform: none;
}

[type=button], [type=reset], [type=submit], button {
  --webkit-appearance:button;
}

[type=button]::-moz-focus-inner, [type=reset]::-moz-focus-inner, [type=submit]::-moz-focus-inner, button::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

[type=button]:-moz-focusring, [type=reset]:-moz-focusring, [type=submit]:-moz-focusring, button:-moz-focusring {
  outline: ButtonText dotted 1px;
}

fieldset {
  padding: 0.35em 0.75em 0.625em;
}

legend {
  color: inherit;
  display: table;
  max-width: 100%;
  white-space: normal;
}

textarea {
  overflow: auto;
}

[type=number]::-webkit-inner-spin-button, [type=number]::-webkit-outer-spin-button {
  height: auto;
}

[type=search] {
  --webkit-appearance:textfield;
  outline-offset: -2px;
}

[type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}

summary {
  display: list-item;
}

[hidden], template {
  display: none;
}

@font-face {
  font-family: "Termina Test Regular";
  font-style: normal;
  font-weight: 400;
  src: local("Termina Test Regular"), url(/custom/fonts/TerminaTest-Regular.woff) format("woff");
}
@font-face {
  font-family: "Termina Test Light";
  font-style: normal;
  font-weight: 400;
  src: local("Termina Test Light"), url(/custom/fonts/TerminaTest-Light.woff) format("woff");
}
@font-face {
  font-family: "Termina Test Medium";
  font-style: normal;
  font-weight: 400;
  src: local("Termina Test Medium"), url(/custom/fonts/TerminaTest-Medium.woff) format("woff");
}
@font-face {
  font-family: "Termina Test Bold";
  font-style: normal;
  font-weight: 400;
  src: local("Termina Test Bold"), url(/custom/fonts/TerminaTest-Bold.woff) format("woff");
}
@font-face {
  font-family: "Termina Test Black";
  font-style: normal;
  font-weight: 400;
  src: local("Termina Test Black"), url(/custom/fonts/TerminaTest-Black.woff) format("woff");
}
.urbanist {
  font-family: Urbanist, sans-serif;
  font-optical-sizing: auto;
}

::-webkit-scrollbar {
  width: 0;
}

.header-container {
  width: 100%;
  padding: 0 7.5rem;
  position: absolute;
  z-index: 10;
  background: transparent;
}
.header-container header {
  width: 47.625rem;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 3.793rem;
  padding: 3.7rem 0rem 3.7rem 0rem;
}
.header-container header hgroup {
  display: flex;
  align-items: center;
  cursor: default;
  gap: 0.25rem;
  width: 12.831rem;
}
.header-container header hgroup img {
  display: flex;
  align-items: center;
  height: 100%;
}
.header-container header nav {
  width: 31rem;
}
.header-container header nav ul {
  display: flex;
  align-items: center;
  list-style: none;
  justify-content: space-between;
  gap: 0.5rem;
}
.header-container header nav ul li {
  color: #F2F2F2;
  text-align: center;
  font-family: "Urbanist", sans-serif;
  font-size: 1.125rem;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  cursor: pointer;
  padding: 0.5rem;
}
.header-container header nav .menu-icon {
  display: none;
  align-items: center;
  justify-content: flex-end;
  cursor: pointer;
}
.header-container header nav .menu-icon img {
  width: 2rem;
}
.header-container header nav .sidebar {
  display: none;
  flex-direction: column;
  gap: 2rem;
  width: 50%;
  min-height: 100vh;
  background: rgba(57, 61, 70, 0.94);
  padding: 1.5rem;
  box-shadow: 6px 0px 2px rgba(0, 0, 0, 0.15);
  z-index: 20;
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  transition: all 300ms ease-in;
}
.header-container header nav .sidebar .sidebar-close-div {
  display: flex;
  justify-content: flex-end;
}
.header-container header nav .sidebar .sidebar-close-div .sidebar-close {
  cursor: pointer;
  width: 30px;
  height: 30px;
  filter: invert(100%) brightness(100%);
}
.header-container header nav .sidebar .sidebar-list {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 1.5rem;
}
.header-container header nav .sidebar .sidebar-list li {
  font-family: "Urbanist", sans-serif;
  font-size: 1.2rem;
  font-weight: 600;
  padding-top: 1rem 0;
  width: 100%;
  text-align: left;
}

@media screen and (max-width: 1024px) {
  .header-container {
    padding: 0 2rem;
  }
  .header-container header {
    width: 100%;
  }
}
@media screen and (max-width: 768px) {
  .header-container header {
    gap: 2.6rem;
    padding: 2rem 0 1.5rem 0;
  }
  .header-container header nav {
    width: auto;
  }
  .header-container header nav ul {
    display: none;
  }
  .header-container header nav .menu-icon {
    display: flex;
  }
}
.footer-container {
  padding: 0rem 7.5rem 7.5rem 7.5rem;
}
.footer-container footer {
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 1.25rem;
}
.footer-container footer .footer-div-one {
  border-style: none;
  padding: 2rem;
  background: #F6F6F6;
  width: 100%;
  border-radius: 24px;
  height: 100%;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 100%;
  justify-content: space-between;
  gap: 1.2rem;
}
.footer-container footer .footer-div-one .footer-div-contact {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 100%;
  gap: 1rem;
}
.footer-container footer .footer-div-one .footer-div-contact .contact-details {
  display: flex;
  align-items: center;
  gap: 1rem;
  width: 100%;
}
.footer-container footer .footer-div-one .footer-div-contact .contact-details img {
  width: 1.5rem;
  display: flex;
  align-items: center;
}
.footer-container footer .footer-div-one .footer-div-contact .contact-details p {
  font-family: "Urbanist", sans-serif;
  font-size: 1.125rem;
  font-weight: 600;
  line-height: 1.5rem;
  text-align: left;
  color: #171717;
  display: flex;
  align-items: center;
}
.footer-container footer .footer-div-one .footer-div-contact .contact-details p a {
  position: relative;
  text-decoration: none;
  color: #171717;
}
.footer-container footer .footer-div-one .footer-div-contact .contact-details p a:hover {
  color: #FFCD00;
}
.footer-container footer .footer-div-one .footer-div-contact .contact-details p a:hover::after {
  transform: scaleX(1);
}
.footer-container footer .footer-div-one .footer-div-contact .contact-details p a::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -0.3rem;
  width: 100%;
  height: 2px;
  background-color: #FFCD00;
  transform: scaleX(0);
  transform-origin: left;
  transition: transform 0.3s ease-in-out;
}
.footer-container footer .footer-div-one .footer-div-prod-services {
  display: flex;
  align-items: flex-start;
  flex-direction: row;
  gap: 2.5rem;
  width: 100%;
}
.footer-container footer .footer-div-one .footer-div-prod-services .footer-div-prod h1 {
  margin: 0;
  font-family: "Termina Test Bold" !important;
  font-size: 1.5rem;
  font-weight: 700;
  line-height: 1.5rem;
  text-align: left;
  color: #171717;
  padding: 1rem 0;
}
.footer-container footer .footer-div-one .footer-div-prod-services .footer-div-prod ul {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 0.7rem;
}
.footer-container footer .footer-div-one .footer-div-prod-services .footer-div-prod ul li {
  font-family: "Urbanist", sans-serif;
  font-size: 1rem;
  font-weight: 600;
  line-height: 2.5rem;
  text-align: left;
  color: #515151;
}
.footer-container footer .footer-div-one .footer-div-prod-services .footer-div-prod ul li a {
  position: relative;
  text-decoration: none;
  color: #171717;
}
.footer-container footer .footer-div-one .footer-div-prod-services .footer-div-prod ul li a:hover::after {
  transform: scaleX(1);
}
.footer-container footer .footer-div-one .footer-div-prod-services .footer-div-prod ul li a::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -0.3rem;
  width: 100%;
  height: 2px;
  background-color: #FFCD00;
  transform: scaleX(0);
  transform-origin: left;
  transition: transform 0.3s ease-in-out;
}
.footer-container footer .footer-div-one .footer-div-prod-services .footer-div-services h1 {
  margin: 0;
  font-family: "Termina Test Bold" !important;
  font-size: 1.5rem;
  font-weight: 700;
  line-height: 1.5rem;
  text-align: left;
  color: #171717;
  padding: 1rem 0;
}
.footer-container footer .footer-div-one .footer-div-prod-services .footer-div-services ul {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 0.7rem;
}
.footer-container footer .footer-div-one .footer-div-prod-services .footer-div-services ul li {
  font-family: "Urbanist", sans-serif;
  font-size: 1rem;
  font-weight: 600;
  line-height: 2.5rem;
  text-align: left;
  color: #515151;
}
.footer-container footer .footer-div-one .footer-div-prod-services .footer-div-services ul li a {
  position: relative;
  text-decoration: none;
  color: #171717;
}
.footer-container footer .footer-div-one .footer-div-prod-services .footer-div-services ul li a:hover::after {
  transform: scaleX(1);
}
.footer-container footer .footer-div-one .footer-div-prod-services .footer-div-services ul li a::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -0.3rem;
  width: 100%;
  height: 2px;
  background-color: #FFCD00;
  transform: scaleX(0);
  transform-origin: left;
  transition: transform 0.3s ease-in-out;
}
.footer-container footer .footer-div-one .footer-suretech {
  display: flex;
  align-items: center;
  gap: 0.3rem;
}
.footer-container footer .footer-div-one .footer-suretech img {
  display: flex;
  align-items: center;
}
.footer-container footer .footer-div-one .footer-suretech p {
  font-family: "Urbanist", sans-serif;
  font-size: 1rem;
  font-weight: 600;
  line-height: 1.4rem;
  text-align: left;
  color: #4E4E4E;
}
.footer-container footer .footer-div-two {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 100%;
  justify-content: space-between;
  gap: 1.75rem;
  height: 100%;
  overflow: hidden;
  border-style: none;
  padding: 2rem;
  background: #F6F6F6;
  width: 100%;
  border-radius: 24px;
}
.footer-container footer .footer-div-two .f-req-title {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: center;
}
.footer-container footer .footer-div-two .f-req-title h1 {
  margin: 0;
  font-family: "Termina Test Bold" !important;
  font-size: 1.5rem;
  font-weight: 700;
  line-height: 1.5rem;
  letter-spacing: 0.02em;
  text-align: center;
  color: #171717;
}
.footer-container footer .footer-div-two .f-form {
  width: 100%;
  height: 100%;
}
.footer-container footer .footer-div-two .f-form form {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  width: 100%;
  height: 100%;
  gap: 1.2rem;
}
.footer-container footer .footer-div-two .f-form form .form-name {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  width: 100%;
  gap: 0.7rem;
}
.footer-container footer .footer-div-two .f-form form .form-name label {
  color: #171717;
  font-family: "Urbanist", sans-serif;
  font-size: 1rem;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  text-transform: capitalize;
}
.footer-container footer .footer-div-two .f-form form .form-name label .comp-icon {
  color: #F00;
  font-family: "Urbanist", sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}
.footer-container footer .footer-div-two .f-form form .form-name input {
  width: 100%;
  padding: 1.25rem;
  background: transparent;
  border-radius: 1rem;
  border: 0.5px solid #767676;
}
.footer-container footer .footer-div-two .f-form form .f-form-em-mob {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  gap: 1rem;
}
.footer-container footer .footer-div-two .f-form form .f-form-em-mob .form-email {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  width: 100%;
  gap: 0.7rem;
}
.footer-container footer .footer-div-two .f-form form .f-form-em-mob .form-email label {
  color: #171717;
  font-family: "Urbanist", sans-serif;
  font-size: 1rem;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  text-transform: capitalize;
}
.footer-container footer .footer-div-two .f-form form .f-form-em-mob .form-email input {
  width: 100%;
  padding: 1.25rem;
  background: transparent;
  border-radius: 1rem;
  border: 0.5px solid #767676;
}
.footer-container footer .footer-div-two .f-form form .f-form-em-mob .form-mobile {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  width: 100%;
  gap: 0.7rem;
}
.footer-container footer .footer-div-two .f-form form .f-form-em-mob .form-mobile label {
  color: #171717;
  font-family: "Urbanist", sans-serif;
  font-size: 1rem;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  text-transform: capitalize;
}
.footer-container footer .footer-div-two .f-form form .f-form-em-mob .form-mobile input {
  width: 100%;
  padding: 1.25rem;
  background: transparent;
  border-radius: 1rem;
  border: 0.5px solid #767676;
}
.footer-container footer .footer-div-two .f-form form .form-requirement {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  width: 100%;
  gap: 0.7rem;
}
.footer-container footer .footer-div-two .f-form form .form-requirement label {
  color: #171717;
  font-family: "Urbanist", sans-serif;
  font-size: 1rem;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  text-transform: capitalize;
}
.footer-container footer .footer-div-two .f-form form .form-requirement textarea {
  width: 100%;
  padding: 1.25rem;
  background: transparent;
  border-radius: 1rem;
  border: 0.5px solid #767676;
  resize: none;
}
.footer-container footer .footer-div-two .f-form form .f-form-btn {
  display: flex;
  align-items: center;
  width: 100%;
  gap: 0.7rem;
}
.footer-container footer .footer-div-two .f-form form .f-form-btn button {
  background: transparent;
  border-style: none;
  border: 1.5px solid #171717;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1rem 2rem;
  border-radius: 6.25rem;
  color: #171717;
  font-family: "Urbanist", sans-serif;
  font-size: 1.063rem;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  cursor: pointer;
  transition: background 0.3s ease-in-out;
}
.footer-container footer .footer-div-two .f-form form .f-form-btn button:hover {
  background: #FFCD00;
}
.footer-container footer .footer-div-last {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
  align-items: flex-start;
  gap: 1.5rem;
  height: 100%;
}
.footer-container footer .footer-div-last .footer-div-three {
  border-style: none;
  padding: 2rem;
  background: #F6F6F6;
  width: 100%;
  border-radius: 24px;
  height: 100%;
  display: flex;
  align-items: flex-start;
  flex-direction: row;
  gap: 2.5rem;
  width: 100%;
}
.footer-container footer .footer-div-last .footer-div-three .footer-div-prod h1 {
  margin: 0;
  font-family: "Termina Test Bold" !important;
  font-size: 1.5rem;
  font-weight: 700;
  line-height: 1.5rem;
  text-align: left;
  color: #171717;
  padding: 1rem 0;
}
.footer-container footer .footer-div-last .footer-div-three .footer-div-prod ul {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 0.7rem;
}
.footer-container footer .footer-div-last .footer-div-three .footer-div-prod ul li {
  font-family: "Urbanist", sans-serif;
  font-size: 1rem;
  font-weight: 600;
  line-height: 2.5rem;
  text-align: left;
  color: #515151;
}
.footer-container footer .footer-div-last .footer-div-three .footer-div-prod ul li a {
  position: relative;
  text-decoration: none;
  color: #171717;
}
.footer-container footer .footer-div-last .footer-div-three .footer-div-prod ul li a::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -0.3rem;
  width: 100%;
  height: 2px;
  background-color: #FFCD00;
  transform: scaleX(0);
  transform-origin: left;
  transition: transform 0.3s ease-in-out;
}
.footer-container footer .footer-div-last .footer-div-three .footer-div-prod ul li a:hover::after {
  transform: scaleX(1);
}
.footer-container footer .footer-div-last .footer-div-three .footer-div-services h1 {
  margin: 0;
  font-family: "Termina Test Bold" !important;
  font-size: 1.5rem;
  font-weight: 700;
  line-height: 1.5rem;
  text-align: left;
  color: #171717;
  padding: 1rem 0;
}
.footer-container footer .footer-div-last .footer-div-three .footer-div-services ul {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 0.7rem;
}
.footer-container footer .footer-div-last .footer-div-three .footer-div-services ul li {
  font-family: "Urbanist", sans-serif;
  font-size: 1rem;
  font-weight: 600;
  line-height: 2.5rem;
  text-align: left;
  color: #515151;
}
.footer-container footer .footer-div-last .footer-div-three .footer-div-services ul li a {
  position: relative;
  text-decoration: none;
  color: #171717;
}
.footer-container footer .footer-div-last .footer-div-three .footer-div-services ul li a:hover::after {
  transform: scaleX(1);
}
.footer-container footer .footer-div-last .footer-div-three .footer-div-services ul li a::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -0.3rem;
  width: 100%;
  height: 2px;
  background-color: #FFCD00;
  transform: scaleX(0);
  transform-origin: left;
  transition: transform 0.3s ease-in-out;
}
.footer-container footer .footer-div-last .footer-div-four {
  display: flex;
  padding: 3rem 3rem;
  width: 100%;
  justify-content: space-evenly;
  gap: 4rem;
  align-items: center;
  border-style: none;
  background: #F6F6F6;
  border-radius: 24px;
}
.footer-container footer .footer-div-last .footer-div-four a img {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 2.5rem;
}
@media screen and (max-width: 1660px) {
  .footer-container footer .footer-div-one {
    height: 100%;
  }
  .footer-container footer .footer-div-two {
    height: 100%;
  }
  .footer-container footer .footer-div-last {
    height: 100%;
  }
}
@media screen and (max-width: 1366px) {
  .footer-container footer {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media screen and (max-width: 1024px) {
  .footer-container {
    padding: 0 2rem 2rem 2rem;
  }
}
@media screen and (max-width: 920px) {
  .footer-container footer {
    grid-template-columns: repeat(1, 1fr);
  }
}
@media screen and (max-width: 768px) {
  .footer-container footer .footer-div-last .footer-div-four {
    padding: 1.5rem 1.5rem;
    gap: 1rem;
  }
  .footer-container footer .footer-div-last .footer-div-three .footer-div-prod a {
    font-size: 1rem;
  }
  .footer-container footer .footer-div-one .footer-div-prod-services .footer-div-prod h1 {
    font-size: 1.2rem;
  }
  .footer-container footer .footer-div-one .footer-div-prod-services .footer-div-services h1 {
    font-size: 1.2rem;
  }
  .footer-container footer .footer-div-one .footer-div-prod-services .footer-div-services ul li a {
    font-size: 1rem;
  }
  .footer-container footer .footer-div-one .footer-div-contact .contact-details a {
    font-size: 1rem;
  }
  .footer-container footer .footer-div-two .f-req-title h1 {
    font-size: 1.2rem;
    line-height: 2rem;
  }
}
@media screen and (max-width: 640px) {
  .footer-container footer .footer-div-two .f-form form .f-form-em-mob {
    flex-direction: column;
  }
}
@media screen and (max-width: 465px) {
  .footer-container footer .footer-div-one .footer-div-prod-services {
    flex-direction: column;
    gap: 1.2rem;
  }
  .footer-container footer .footer-div-last .footer-div-three {
    flex-direction: column;
    gap: 1.2rem;
  }
  .footer-container footer .footer-div-last .footer-div-four a img {
    width: 1.5rem;
  }
}

.main-body {
  width: 100%;
  height: 100%;
}
.main-body .carousel {
  width: 100%;
  height: 100vh;
  align-items: center;
  position: relative;
  top: 0;
  left: 0;
  overflow: hidden;
  display: flex;
}
.main-body .carousel .slick-dots {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  position: absolute;
  bottom: 0;
  transform: translateY(-50%);
  z-index: 20;
  list-style: none;
}
.main-body .carousel .carousel-item {
  width: 100%;
  display: flex;
  position: relative;
}
.main-body .carousel .carousel-item img {
  width: 100%;
  height: 100vh;
}
.main-body .carousel .carousel-item::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background: rgba(0, 0, 0, 0.5);
  z-index: 1;
}
.main-body .carousel .carousel-item .carousel-content {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 1.625rem;
  position: absolute;
  top: 18.313rem;
  padding: 0 7.5rem;
  z-index: 5;
  color: white;
}
.main-body .carousel .carousel-item .carousel-content h1 {
  margin: 0;
  width: 102.688rem;
  color: #ffffff;
  font-family: "Termina Test Bold" !important;
  font-size: 7rem;
  font-style: normal;
  font-weight: 700;
  line-height: 143px;
  letter-spacing: 1.16px;
}
.main-body .carousel .carousel-item .carousel-content p {
  text-align: left;
  display: flex;
  width: 30.5rem;
  height: 6.063rem;
  flex-direction: column;
  justify-content: center;
  flex-shrink: 0;
  color: #ffffff;
  font-family: "Urbanist", sans-serif;
  font-size: 1.5rem;
  font-style: normal;
  font-weight: 600;
  line-height: 138.004%;
  text-transform: capitalize;
}
.main-body .carousel .carousel-control-prev:hover, .main-body .carousel .carousel-control-next:hover {
  background-color: rgba(0, 0, 0, 0.7);
}
.main-body .main-container {
  padding: 7.5rem 7.5rem;
}
.main-body .main-container main {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 2rem;
}
.main-body .main-container main .m-part-div {
  display: flex;
  gap: 3rem;
  flex-direction: column;
  width: 100%;
}
.main-body .main-container main .m-part-div .main-title {
  width: 100%;
  display: flex;
  align-items: center;
  gap: 0.9rem;
}
.main-body .main-container main .m-part-div .main-title .ellipse {
  width: 0.618rem;
  height: 0.618rem;
  border-radius: 100%;
  background: #DD8607;
}
.main-body .main-container main .m-part-div .main-title h1 {
  font-family: "Termina Test Bold" !important;
  font-size: 1.5rem;
  font-weight: 700;
  line-height: 2.083rem;
  text-align: left;
  color: #171717;
  width: 14.625rem;
  height: 2.125rem;
  margin: 0;
}
.main-body .main-container main .m-part-div .team-btns {
  display: flex;
  width: 100%;
  gap: 1.25rem;
  align-items: center;
  overflow-x: scroll !important;
}
.main-body .main-container main .m-part-div .team-btns button {
  width: 9rem;
  height: 3.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  border-style: none;
  border-radius: 12px;
  border: 1px solid #515151;
  background: transparent;
  font-family: "Urbanist", sans-serif;
  font-size: 1.25rem;
  font-weight: 600;
  line-height: 1.5rem;
  text-align: center;
  color: #515151;
  cursor: pointer;
  padding: 1rem 2rem;
  gap: 0.625rem;
}
.main-body .main-container main .m-part-div .team-btns button:hover {
  background: #FFCD00;
  color: #171717;
}
.main-body .main-container main .m-part-div .team-btns .btnTeam.activeBtn {
  background: #FFCD00;
  color: #171717;
}
.main-body .main-container main .card {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 1.3rem;
}
.main-body .main-container main .card .card-title {
  padding: 1rem 0rem 0rem 0rem;
  font-family: "Termina Test Bold" !important;
  font-size: 1.5rem;
  font-weight: 700;
  line-height: 2.083rem;
  letter-spacing: 0.02em;
  text-align: left;
  margin: 0;
  color: #171717;
}
.main-body .main-container main .card .card-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  width: 100%;
  grid-gap: 3.37rem;
}
.main-body .main-container main .card .card-container .card-div {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  align-items: flex-start;
  justify-content: space-between;
  overflow: hidden;
}
.main-body .main-container main .card .card-container .card-div .card-img {
  width: 100%;
  height: 100%;
  border-radius: 25px;
}
.main-body .main-container main .card .card-container .card-div .card-img img {
  border-radius: 25px;
  width: 100%;
  height: 100%;
}
.main-body .main-container main .card .card-container .card-div .card-body {
  display: flex;
  align-items: center;
  gap: 1rem;
  width: 100%;
  justify-content: space-between;
}
.main-body .main-container main .card .card-container .card-div .card-body .linkedin-img {
  display: flex;
  align-items: center;
  justify-content: center;
}
.main-body .main-container main .card .card-container .card-div .card-body .linkedin-img a {
  display: flex;
  align-items: center;
}
.main-body .main-container main .card .card-container .card-div .card-body .linkedin-img a img {
  transition: all 0.2s ease-in;
}
.main-body .main-container main .card .card-container .card-div .card-body .linkedin-img a img:hover {
  transform: scale(1.05);
}
.main-body .main-container main .card .card-container .card-div .card-body .card-name {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 0.4rem;
}
.main-body .main-container main .card .card-container .card-div .card-body .card-name .name-div {
  font-family: "Urbanist", sans-serif;
  font-size: 1.5rem;
  font-weight: 700;
  line-height: 1.8rem;
  text-align: left;
  color: #171717;
}
.main-body .main-container main .card .card-container .card-div .card-body .card-name .name-details {
  font-family: "Urbanist", sans-serif;
  font-size: 1.25rem;
  font-weight: 500;
  line-height: 1.875rem;
  text-align: left;
  color: #515151;
}
.main-body .section-container {
  padding: 2rem 7.5rem;
}
.main-body .section-container section .main-title {
  width: 100%;
  display: flex;
  align-items: center;
  gap: 0.9rem;
}
.main-body .section-container section .main-title .ellipse {
  width: 0.618rem;
  height: 0.618rem;
  border-radius: 100%;
  background: #DD8607;
}
.main-body .section-container section .main-title h1 {
  font-family: "Termina Test Bold" !important;
  font-size: 1.5rem;
  font-weight: 700;
  line-height: 2.083rem;
  text-align: left;
  color: #171717;
  width: 14.625rem;
  height: 2.125rem;
  margin: 0;
}
.main-body .section-container section .faq-section {
  padding: 1.5rem 0;
}
.main-body .section-container section .faq-section .faq-qn {
  padding: 1rem 0;
  border-bottom: 1px solid #DCDCDC;
}
.main-body .section-container section .faq-section .faq-qn .faq-qn-open-close {
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
  width: 100%;
  transition: 0.5s;
}
.main-body .section-container section .faq-section .faq-qn .faq-qn-open-close h3 {
  padding: 1rem 0;
  font-family: "Urbanist", sans-serif;
  font-size: 1.6rem;
  font-weight: 600;
  line-height: 2.25rem;
  text-align: left;
  color: #000000;
}
.main-body .section-container section .faq-section .faq-qn .faq-qn-open-close img {
  cursor: pointer;
  transition: transform 0.3s ease-in-out;
}
.main-body .section-container section .faq-section .faq-qn .faq-qn-open-close img:hover {
  transform: scale(1.08);
}
.main-body .section-container section .faq-section .faq-qn .faq-qn-open-close .open-close-icon {
  border: 1px solid #000000;
  border-radius: 100%;
  width: 3.4rem;
  height: 3.4rem;
  padding: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.5rem;
  font-weight: 700;
}
.main-body .section-container section .faq-section .faq-qn .panel {
  display: none;
  background-color: white;
  overflow: hidden;
}
.main-body .section-container section .faq-section .faq-qn p {
  font-family: "Urbanist", sans-serif;
  font-size: 1.2rem;
  font-weight: 400;
  line-height: 2.1rem;
  text-align: left;
  color: #3C3C43;
  padding: 0.5rem 0;
}
.main-body .information-container {
  padding: 7.5rem 7.5rem;
}
.main-body .information-container .info-section {
  display: flex;
  flex-direction: column;
  gap: 4rem;
  align-items: flex-start;
  width: 100%;
}
.main-body .information-container .info-section .info-filter-btns {
  display: flex;
  width: 50.813rem;
  gap: 1.9rem;
  align-items: center;
  overflow-x: scroll;
}
.main-body .information-container .info-section .info-filter-btns button {
  text-align: center;
  padding: 0.5rem 2rem;
  height: 3.5rem;
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: center;
  border-style: none;
  border-radius: 67px;
  border: 1px solid #515151;
  background: transparent;
  font-family: "Urbanist", sans-serif;
  font-size: 1.25rem;
  font-weight: 600;
  line-height: 1.5rem;
  color: #515151;
  cursor: pointer;
}
.main-body .information-container .info-section .info-filter-btns button:hover {
  background: #FFCD00;
  color: #171717;
}
.main-body .information-container .info-section .info-filter-btns .btnFilter.activeBtn {
  background: #FFCD00;
  color: #171717;
}
.main-body .information-container .info-section .info-filter-grid {
  width: 100%;
  overflow: hidden;
  display: grid;
  height: 100%;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 2rem;
}
.main-body .information-container .info-section .info-filter-grid .info-div-card {
  position: relative;
  width: 100%;
  height: 100%;
}
.main-body .information-container .info-section .info-filter-grid .info-div-card img {
  border-radius: 24px;
  width: 100%;
  height: 429px;
  display: flex;
  object-fit: cover;
  align-items: center;
  justify-content: center;
}
.main-body .information-container .info-section .info-filter-grid .info-div-card .info-div-card-content {
  position: absolute;
  top: 0px;
  padding: 1.5rem;
  display: flex;
  flex-wrap: wrap;
}
.main-body .information-container .info-section .info-filter-grid .info-div-card .info-div-card-content h3 {
  font-family: "Urbanist", sans-serif;
  font-size: 1.75rem;
  font-weight: 700;
  line-height: 2.1rem;
  text-align: left;
  color: #ffffff;
}
@media screen and (max-width: 1880px) {
  .main-body .carousel .carousel-item .carousel-content h1 {
    width: 100%;
    font-size: 5.25rem;
    line-height: 123px;
  }
}
@media screen and (max-width: 1660px) {
  .main-body .carousel .carousel-item .carousel-content {
    width: 100%;
  }
}
@media screen and (max-width: 1366px) {
  .main-body .carousel .carousel-item .carousel-content h1 {
    font-size: 5rem;
    line-height: 6rem;
  }
}
@media screen and (max-width: 1280px) {
  .main-body .carousel .carousel-item .carousel-content h1 {
    font-size: 3.5rem;
    line-height: 5rem;
  }
}
@media screen and (max-width: 1024px) {
  .main-body .carousel .carousel-item .carousel-content {
    padding: 0 7.5rem;
    align-items: flex-start;
  }
  .main-body .carousel .carousel-item .carousel-content h1 {
    font-size: 3rem;
    line-height: 4rem;
    text-align: left;
  }
  .main-body .carousel .carousel-item .carousel-content p {
    text-align: left;
    display: flex;
    width: 30.5rem;
    height: 6.063rem;
    flex-direction: column;
    justify-content: center;
    flex-shrink: 0;
    color: #ffffff;
    font-family: "Urbanist", sans-serif;
    font-size: 1.5rem;
    font-style: normal;
    font-weight: 600;
    line-height: 138.004%;
    text-transform: capitalize;
  }
  .main-body .carousel .slick-prev {
    top: 50%;
  }
  .main-body .carousel .slick-next {
    top: 50%;
  }
  .main-body .main-container {
    padding: 3rem 2rem;
  }
  .main-body .main-container main .m-part-div .team-btns {
    overflow-x: auto;
  }
  .main-body .section-container {
    padding: 3rem 2rem;
  }
  .main-body .information-container {
    padding: 3rem 2rem;
  }
  .main-body .information-container .info-section .info-filter-btns {
    gap: 1.5rem;
    display: inline-flex;
    text-wrap: nowrap;
    width: 100%;
  }
  .main-body .information-container .info-section .info-filter-grid {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media screen and (max-width: 920px) {
  .main-body .carousel .carousel-item .carousel-content {
    gap: 3rem;
    padding: 0 2rem;
  }
  .main-body .carousel .carousel-item .carousel-content p {
    width: 100%;
  }
  .main-body .carousel .carousel-item .carousel-content h1 {
    font-size: 3rem;
    line-height: 4rem;
    text-align: left;
  }
  .main-body .main-container main .card .card-container {
    grid-template-columns: repeat(1, 1fr);
  }
  .main-body .section-container .section .faq-section .faq-qn .faq-qn-open-close .open-close-icon {
    width: 2rem;
    height: 2rem;
    font-size: 1rem;
  }
}
@media screen and (max-width: 768px) {
  .main-body .carousel .carousel-item .carousel-content {
    top: 16rem;
  }
  .main-body .carousel .carousel-item .carousel-content p {
    font-size: 1rem;
  }
  .main-body .carousel .carousel-item .carousel-content h1 {
    font-size: 2rem;
    line-height: 3rem;
  }
  .main-body .carousel .carousel-item img {
    object-fit: cover;
  }
  .main-body .carousel .slick-next {
    top: 50%;
  }
  .main-body .carousel .slick-prev {
    top: 50%;
  }
  .main-body .information-container .info-section {
    gap: 1.2rem;
  }
  .main-body .information-container .info-section .info-filter-grid {
    grid-template-columns: repeat(1, 1fr);
  }
  .main-body .information-container .info-section .info-filter-grid .info-div-card .info-div-card-content h3 {
    font-size: 1.3rem;
  }
  .main-body .information-container .info-section .info-filter-btns button {
    text-align: center;
    height: 100%;
    padding: 0.5rem 2rem;
    font-size: 1rem;
    line-height: normal;
  }
  .main-body .main-container main .m-part-div {
    gap: 1.3rem;
  }
  .main-body .main-container main .m-part-div .main-title h1 {
    font-size: 1.3rem;
  }
  .main-body .main-container main .m-part-div .team-btns button {
    width: 100%;
    height: 100%;
    padding: 1rem 1rem;
    line-height: normal;
    font-size: 1rem;
  }
  .main-body .main-container main .card .card-title {
    font-size: 1.3rem;
  }
  .main-body .main-container main .card .card-container .card-div .card-body .card-name .name-div {
    font-size: 1.2rem;
  }
  .main-body .main-container main .card .card-container .card-div .card-body .card-name .name-details {
    font-size: 1rem;
  }
  .main-body .main-container main .card .card-container .card-div .card-body .linkedin-img a img {
    width: 3rem;
  }
  .main-body .section-container section .main-title h1 {
    font-size: 1.3rem;
  }
  .main-body .section-container section .faq-section .faq-qn {
    padding: 0;
  }
  .main-body .section-container section .faq-section .faq-qn .faq-qn-open-close h3 {
    font-size: 1rem;
  }
}
@media screen and (max-width: 640px) {
  .main-body .carousel .carousel-item .carousel-content {
    padding: 0 3rem;
  }
  .main-body .carousel .carousel-item .carousel-content h1 {
    font-size: 2rem;
    line-height: 3rem;
    text-align: left;
  }
}
@media screen and (max-width: 465px) {
  .main-body .card-div {
    height: 460px;
  }
  .main-body .card-div .card-img {
    height: 351px;
  }
}/*# sourceMappingURL=style.css.map */